// NOTE: `font-weight` pour un bouton `compact` est de 600 au lieu du 700 original
:host {
   .v-btn--density-compact {
      .v-btn__content {
         font-weight: 600;
      }
   }

   .v-btn__content {
      white-space: wrap !important;
   }
}
