:host {
   .v-menu > .v-overlay__content > .v-list {
      box-shadow: 0px 6px 24px 0px rgba(var(--v-theme-bleu-fonce), 0.24) !important;
   }

   .v-list-item--density-default.v-list-item--one-line {
      min-height: 0 !important;
   }

   .v-list-item--variant-text {
      .v-list-item__overlay {
         background: transparent;
      }
   }
}
