:host {
   .v-tabs {
      .v-slide-group__content {
         gap: 24px;
         border-bottom: 1px solid rgb(var(--v-theme-gris-clair));
      }

      .v-btn {
         color: rgb(var(--v-theme-bleu-piv));
         font-weight: normal;
         padding: 0 8px 8px;
         transition-property: color, border-color;

         .v-btn__content {
            transition-property: color, border-color;
         }

         .v-btn__overlay,
         .v-btn__underlay,
         .v-ripple__container {
            display: none;
         }

         &::after {
            border-color: rgb(var(--v-theme-bleu-fonce));
         }
      }

      .v-tab-item--selected {
         font-weight: bold;
         color: rgb(var(--v-theme-bleu-fonce));

         .v-tab__slider {
            height: 4px;
            background: rgb(var(--v-theme-bleu-piv));
         }
      }
   }
}
