// NOTE: Les styles globaux ne peuvent être assignés via les variables de Vuetify puisque nous sommes dans un
//       shadow DOM. Les styles s’appliquent sur `html {}` et ne sont pas pris en compte par le composant.

// Vuetify theme override
@use 'theme';

:host {
   --primary-font-family: 'Open Sans', sans-serif;
   --secondary-font-family: 'Roboto', sans-serif;

   box-sizing: border-box;
   font-family: var(--primary-font-family);

   div[data-v-app] {
      width: 100%;
      height: 100%;
   }
}
