body {
   margin: 0;
   box-sizing: border-box;
}
body > div {
   padding: 0;
   display: grid;
   height: 100vh;
   grid-template-columns: 3fr 1fr; /* 75% / 25% split */
   grid-template-rows: auto 1fr; /* header then content row */
   grid-template-areas:
      'header aside'
      'main   aside';
}

header {
   grid-area: header;
   margin: 8px;
}
main {
   grid-area: main;
   margin: 8px;
}
aside {
   grid-area: aside;
   border: 1px solid #ccc;
   overflow-y: scroll;
   margin: 8px;
}

#logZone pre {
   overflow-x: scroll;
}

#clearLog {
   position: fixed;
   bottom: 10px;
   right: 10px;
}

#zone-configuration {
   border: 1px solid #ce0e0e;
   text-align: center;
}

.element {
   border: 1px solid #000;
   padding: 5px;
   resize: both;
   overflow: auto;
   width: 1800px;
   height: 800px;
}
